.container{
  display:flex;
  flex-direction:column; 
  height:100vh;
}
.header{
  flex:10%;
  background-color:lightgray;
}
.menu{
  flex:10%;
  background-color:darkgray;
  text-align:center;
  display:flex;
}
.menu a{
  padding: 15px 20px;
  color: black;
  text-decoration:none;
}
.menu a:hover{
  background-color:blue;
  color:white;
  text-decoration:none;
}
.content{
  flex:70%;
  background-color:white;
}
.content iframe{
  flex:1;
  border:none;
  width:100%;
  height:100%;
}
.footer{
  flex:10%;
  background-color:lightgray;
}
.tieude {
  color: tomato;
  font-weight: bold;
  font-size: 25px;
  padding: 15px;
  margin-left: 20px;
}
.noidung {
  color: black;
  font-size: 15px;
  padding: 15;
  margin: 20px;
}
.tieudechinh {
  color: red;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  font-family: Lucida Handwriting;
}
.tieudechinhden { 
  color: black;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  font-family: Lucida Handwriting;
}
.clp {
  margin-right: 20px;
.clt {
  margin-left: 20px;
