.tieude {
  color: tomato;
  font-weight: bold;
  font-size: 25px;
}
.noidung {
  color: black;
  font-style: normal;
  font-size: 15px;
}
.tieudechinh {
  color: red;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
