.tieude {
  color: tomato;
  font-weight: bold;
  font-size: 25px;
  padding: 15px;
  margin-left: 20px;
}
.noidung {
  color: black;
  font-size: 15px;
  padding: 15;
  margin: 20px;
}
.tieudechinh {
  color: red;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  font-family: Lucida Handwriting;
}
.tieudechinhden { 
  color: black;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  font-family: Lucida Handwriting;
}
.clp {
  margin-right: 20px;
.clt {
  margin-left: 20px;
